/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-jvm-details-summary summary {
    display: flex;
    line-height: 1;

    .rich-text {
        flex: 1 0 auto;
    }
}
